.d-inline-block {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
}

.height-fix {
    height: 620px!important;
}

.reactdiagram{
    height: 600px;
    width: 1200px;
    border: 1px solid lightgray;
}

.center {
  padding: 5%;
  text-align: center;
}